* {
    margin: 0;
    padding: 0;
}

body {
    color: azure;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(73, 67, 59, 0.5), rgba(170, 175, 185, 0.5)),
     url('https://images.unsplash.com/flagged/photo-1563967931215-f143df220a96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1833&q=80');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.App {
    width: 100%;
    max-width: 1650px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.container .header {
    background: linear-gradient(90deg, #3f50a5, #1b2174);
    height: 50px;
    border-bottom: 2px solid #ccc;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.header img {
    height: 50px;
}

.input_data .underline {
    background: aliceblue;
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
}

.input_data i {
    color: #ccc;
    position: absolute;
    right: 5px;
    bottom: 10px;
}

.input_data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input_data input:focus ~ .underline:before,
.input_data input:valid + .underline:after {
    transform: scaleX(1);
}

.input_data {
    height: 40px;
    width: 350px;
    position: relative;
}

.input_data input {
    background: none;
    outline: 0px;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 20px;
    color: aliceblue;
    border-bottom: 2px solid #ccc;
}

.input_data input:focus ~ label,
.input_data input:valid + label{
    transform: translateY(-20px);
    font-size: 15px;
    bottom: 15px;
}

.input_data label{
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #ccc;
    transition: all 0.3s ease;
}

.container .title_1 {
    height: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
}

.title_info {
    background: linear-gradient(90deg, #cd6318, #6c4225);
    font-size: 18px;
    box-sizing: 1px;
    box-shadow: 0px 5px 5px 1px rgba(248, 248, 245, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    width: 90%;
}

.container .title_2 {
    height: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container .title_3 {
    height: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* .card-example {
    padding-bottom: 25px;
    background-color: gray;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
    position: relative;
}

.openModal:checked ~ .card-example{
    opacity: 1;
    visibility: hidden;
}

.card-example_close {
    width: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 500ms ease;
}

.card-example_close:hover {
    background-color: #4158d0;
    color: white;
}

.card-example_go {
    cursor: pointer;
    width: 100px;
}

.card-example img {
    height: 100px;
}

.modal-none {
    display: none;
} */

.card-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.list {
    min-height: 550px;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
}

.container-list {
    min-height: 300px;
    background-color: #fff;
    border-radius: 10px;
    opacity: 70%;
    margin-top: 10px;
    height: 18%;
    overflow: hidden;
    width: 90%;
    transition: transform 200ms ease;
}

.container-list:hover {
    transform: scale(1.03);
    transition: transform 200ms ease;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
    opacity: 100%;
}

.container-list_info {
    color: black;
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-list_info:hover {
    background-color: #EEEEEE;
}

.container-list_info b {
    color: #cd6318;
}

.container-list_info a {
    text-decoration: none;
    color: black;
}

.container-list_info i {
    font-size: 20px;
}

.content-1 {
    min-height: 550px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.content-1_container {
    width: 100%;
    max-height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.content-2 {
    min-height: 550px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.content-2_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;
}

.card {
    width: 150px;
    height: 100px;
    padding: 20px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 10px;
    background-color: #fff;
    opacity: 70%;
    transition: transform 200ms ease;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 200ms ease;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
    opacity: 100%;
}

.border-yes {
    opacity: 100%;
}

.border-yes:before, .border-yes:after {
    content: '';
    position: absolute;
    left: -4px;
    top: -4px;
    background: linear-gradient(120deg, #79fb00, #babd21, #d38613, #a5510c);
    background-size: 300%;
    width: 162px;
    height: 148px;
    z-index: -1;
    animation: BGradient 15s ease infinite;
    border-radius: 10px;
}

@keyframes BGradient {
    0% {
        background-position: 0% 200%;
    }
    50% {
        background-position: 200% 0%;
    }
    100% {
        background-position: 0% 330%;
    }
}

.border-yes:after {
    filter: brightness(1.4);
    filter: drop-shadow(3px 3px 5px rgba(248, 220, 97));
    filter: blur(8px);
}

.card a {
    text-decoration: none;
    color: black;
}

.card div {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
}

.card_name {
    font-size: 20px;
}

.card_img {
    padding: 0px;
    height: 75px
}

.card img {
    object-fit: contain;
    width:  100%;
    height: 100%;
}

.container .footer {
    text-align: center;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 5;
}

@media screen and (max-width: 950px) {
    body {
        padding: 0;
        background-attachment: fixed;
    }

    .App {
        width: 100%;
        overflow: hidden;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, auto);
    }
    
    .container .header {
        width: 64%;
        padding: 25px;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .input_data label {
        width: 90px;
    }

    .input_data input:focus ~ label,
    .input_data input:valid + label{
    transform: translateY(-20px);
    width: 250px;
    font-size: 16px;
}
    
    .title_1 {
        width: 72%;
        grid-column-start: 1;
        grid-column-end: 1;
        display: flex;
        justify-content: center;
    }

    .container .list {
        width: 72%;
        min-height: 0px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .container .title_2 {
        width: 72%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .content-1 {
        width: 72%;
        min-height: 1px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    
    .container .title_3 {
        width: 72%;
        padding-top: 150px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .content-2 {
        width: 72%;
        min-height: 100px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 7;
        grid-row-end: 8;
    }
       
    .container .footer {
        width: 70%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;
    }   
}